*, *::after, *::before{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

@import "header";
@import "menu";
@import "layout";
@import "spacing";
@import "swiper";
@import "colors";
@import "typography";
@import "buttons";
@import "icons";
@import "animations";
@import "footer";



html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    background-color: antiquewhite;
}